* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  background-color: #CACFD2;
}

body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main title {
  font-size: 2.6rem;
  margin: 3rem;
}

body main p {
  font-size: 1rem;
  margin: 1.2rem;
}

body main #img-div {
  border-radius: .5rem;
  background-color: #fff;
  width: 100%;
  padding: 1rem;
}

body main #img-div #image {
  width: 100%;
}

body main #img-div #img-caption {
  margin: 1.2rem 0rem;
  font-size: 1rem;
}

body main #tribute-info {
  font-size: 1.7rem;
  margin: 3rem 0rem;
}

body main ul {
  max-width: 40.5rem;
  padding: 0rem 2rem;
  margin: auto;
  font-size: 1.2rem;
}

body main ul li {
  margin: 1rem 0rem;
  line-height: 1.8rem;
}

body main .quote {
  max-width: 40.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

body main #pm-singh {
  max-width: 40.5rem;
  font-size: 1.2rem;
  text-align: left;
}

body main h3 {
  text-align: center;
  margin: 2rem 0rem;
}

@media (min-width: 425px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 95%;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 100%;
  }
}
